
@if (products.length > 0){
    <h1>Products ({{products.length}})</h1>
}
@else if (products.length === 100) {
    <span>Click <a>Loard More</a>to see more products</span>
}
<ul class="pill-group">
    @for (product of products | sort: 'price'; track product.id;){
        <li class="pill" (click)="selectedProduct = product">
            <app-product-view [id]="product.id"></app-product-view>
        </li>
    }@empty {
        <p>No Products found!</p>
    }
</ul>

<h1>Favorites</h1>
<app-favorites></app-favorites>
<app-product-detail #productDetail [product]="selectedProduct" (added)="onAdded($event)"></app-product-detail>


